@CHARSET "UTF-8";
.whole{
	padding:100px;
	background-color:#90EE90;
}
#main-box{
	background-color:#FFFACD;
	border:solid black 1px;
	margin:0px auto;
	margin-top:100px;
	width:350px;
	padding-top:10px;
	padding-bottom:20px;
	text-align:center;
}
#text-part{margin-bottom:10px;}